<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<File name="FILE" fileName="${sys:catalina.home}/logs/spring-mvc-template.log" immediateFlush="true" append="true">
			<PatternLayout pattern="%d %-5level %logger - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Root level="TRACE">
			<AppenderRef ref="FILE" level="DEBUG" />
		</Root>
	</Loggers>
</Configuration>